
{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
    Test - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}


        <div>
            Cette annonce va être supprimée
            <!-- methode a eviter en realité: cf http://openclassrooms.com/courses/developpez-votre-site-web-avec-le-framework-symfony2/recuperer-ses-entites-avec-doctrine2 -->
        </div>
   

{% endblock %}